.primary-nav {
	position: absolute;
	padding-top: 10px;
	left: 70%;
	top: 5%;

	@mixin atSmall {
		top: 6%;
		left: 80%;
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;

		@mixin atSmall {
			margin-top: 0;
		}
		/*@mixin atMedium {
			float: left;
			padding-right: 20px;
			display: block;
		}*/
	}

	a {
		color: #FFF;
		text-decoration: none;
		font-weight: 300;
	}
}